@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,700&display=swap');
.top-banner{
    /* width:100%; */
    /* background: url(images/cover1.jpg) no-repeat center; */
    /* background-size: cover; */
    /* padding:11.875rem 0 6.375rem; */
}
*{
    font-family:'poppins',sans-serif;
}
.hottag{
    color: #fff;
    /* font-weight:400; */
}
.location{
    border:none;
    background-color: transparent;
    position:absolute;
    /* top:300px; */
    left:370px;
    padding:9px;
    padding-right:5px;
    color: rgb(201, 211, 211);
}

.section2{
    width:100%;
    /* min-height: 75vh; */ 
    background-color: rgb(51, 50, 49);
    /* display: inline-flex; */
}
.section3 .sect3h1{
    text-align: center;
    font-weight: bolder;
    color: rgb(83, 83, 78);
}
.section3 .sect3h1 span{
    color: rgb(252,92,4);
}
.section3 .box-container{
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
.section3 .box-container .box{
    flex:1 2 22rem;
    position: relative;
    overflow:hidden;
    box-shadow: 0 .5rem 1rem grey;
    border: .1rem solid rgba(0,0,0,.3);
    cursor:pointer;
    border-radius: .5rem;
}
.section3 .box-container .box .image{
    height: 100%;
    width:100%;
    object-fit: cover;
    position:absolute;
    top:-100%; left:0;
}
.section3 .box-container .box .content{
    text-align: center;
    background: #fff;
    padding:2rem;
}
.section3 .box-container .box .content img{
    margin: 1.5rem 0;
    height:30%;
    width:30%;
}
.section3 .box-container .box .content h3{
font-size: 2rem;
color: gray;
}
.section3 .box-container .box .content p{
    font-size: 1.2 rem;
    color: gray;
    padding:1rem 0;
}
.section3 .box-container .box:hover .image{ top:0;}
.section3 .box-container .box:hover .content{ transform: translateY(100%);}
